html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0; /* Domyślny kolor tła, na wypadek gdyby obraz nie załadował się prawidłowo */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 100%;
    float: right;
    width: 50%;
    height: 100vh; /* Zmieniamy na 100vh */
    z-index: 2;
    background-image: url('../Assets/bglogin.png');
    background-size: 100% 100%; /* 50% szerokości monitora, zachowaj proporcje */
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.8); /* Przykład: tło o 80% przezroczystości */
    background-blend-mode: lighten; /* Przykład: tryb mieszania kolorów */
}

/* Styl dla Slideshow na telefonach i mniejszych urządzeniach */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}


img {
    width: 30px;
    height: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 400vh;
    max-width: 35%; /* Maksymalna szerokość logo */
    height: auto; /* Automatyczna wysokość dla zachowania proporcji */
}

@media (max-width: 768px) {
    .logo {
        width: 40%; /* Dostosuj szerokość logo do preferencji na telefonach */
        max-width: none; /* Usuń maksymalną szerokość na telefonie */
    }
}


.inputs .input {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 50%;
    height: 5vh;
    border-radius: 5px;
    z-index: 2;
}


.inputs p {
    text-align: left; /* Align the text to the left */
    width: 50%; /* Make the text span the full width of the input container */
    margin: 0;
    font-family: 'Wonderworld PERSONAL USE';
    font-size: 1.2vw;
    font-style: normal;
    padding: 7px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .inputs p {
        text-align: left; /* Align the text to the left */
        width: 50%; /* Make the text span the full width of the input container */
        margin: 0;
        font-family: 'Wonderworld PERSONAL USE';
        font-size: 4.5vw;
        font-style: normal;
        padding: 7px;
        margin-top: 5px;
    }
}

.inputs {
    display: flex;
    flex-direction: column; /* Keep this to stack elements vertically */
    z-index: 2;
    margin-top: -5%;
    align-items: center;
}

.inputs .input {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 50%;
    height: 5vh;
    border-radius: 5px;
    z-index: 2;
    text-align: left; /* Ustal lewe wyjustowanie tekstu w inputach */
}

.inputs .error-message{
    color: red;
    font-size: 1.6vh;
}

.inputs input {
    height: 100%;
    width: 100%;
    max-width: 100%;
    background: #e9e9e9;
    border-radius: 15px;
    border: 2px solid #282c34;
    outline: none;
    color: #282c34;
    font-size: 1.6vh;
    font-family: sen;
    padding-left: 20px;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

span {
    color: #4fb0f2;
}

.submit-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Wyśrodkuj przyciski poziomo */
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.button-content {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align content to the right */
    gap: 10px;
    justify-content: center;
}

.icon {
    order: 2; /* Change the order of the icon to appear after the text */
}

#iconbutton
{
    background-color: #f0f0f0;
    color: #1a1a1a;
    border-radius: 20px;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 5px;
    flex-direction: column;
    height: 5vh;
    max-height: 100%;
    width: 20vw; /* Zmieniamy szerokość na 100% */
    max-width: 100%; /* Zmieniamy maksymalną szerokość na 100% */
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 5px;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    font-size: 1.5vh;
}


#iconbutton:hover {
    background-color: #232323;
    color: white;
}

@media (max-width: 768px) {
    #iconbutton {
        width: 100%;
        height: 1vh;
        max-height: none;
        max-width: none;
    }
}

.forgot-password
{
    margin-bottom: 20px;
    z-index: 2;
    font-size: 1.6vh;
}

#sign-in-button
{
    background-color: #262626;
    color: #fff6f6;
    border: none;
    border: solid 2px;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 5px;
    flex-direction: column;
    height: 4em;
    width: 15vw; /* Zmieniamy szerokość na 100% */
    max-width: 100%; /* Zmieniamy maksymalną szerokość na 100% */
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    z-index: 2;
    font-size: 1.5vh;
}

#sign-in-button:hover
{
    background: #eeeeee;
    color: #1a1a1a;
}

#login-in-button
{
    background-color: #262626;
    color: #fff6f6;
    border: none;
    border: solid 2px;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 5px;
    flex-direction: column;
    height: 2em;
    width: 15vw;
    max-width: 400px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    font-size: 1.5vh;
}

#login-in-button:hover
{
    background: #eeeeee;
    color: #262626;
}

#ihave
{
    color: #4fb0f2;
    cursor: pointer;
}

.forgot-password
{
    color: #232323;
    padding: 5px;
    font-weight: bold;
}

.error-message {
    color: red;
    font-size: 1.5vh;
    margin: 0; /* Dodatkowy odstęp nad komunikatem */
}


#sign-up-button {
    background-color: #262626;
    color: #fff6f6;
    border: none;
    border: solid 2px;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 5px;
    flex-direction: column;
    height: 4em;
    width: 20vw; /* Zmieniamy szerokość na 100% */
    max-width: 100%; /* Zmieniamy maksymalną szerokość na 100% */
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    z-index: 2;
    font-size: 1.5vh;
}

#sign-up-button:hover {
    background-color: #ffffff; /* Kolor tła przy najechaniu myszą */
    transition: background-color 0.5s ease;
    color: #1a1a1a;
}

@media (max-width: 768px) {
    #sign-in-button {
        width: 50vw;
        height: 7vh;
        max-height: none;
        max-width: none;
    }
}

@media (max-width: 768px) {
    #sign-up-button {
        width: 50vw;
        height: 7vh;
        max-height: none;
        max-width: none;
    }
}