.slide-show {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dziel obszar na dwie kolumny */
    width: 50%;
    height: 100%; /* Możesz dostosować wysokość do swoich potrzeb */
    position: fixed; /* Ustaw pozycję na względną, aby można było dodać pseudoelement */
}

.slide-show img {
    width: 200%;
    height: 100%;
    object-fit: cover; /* Dopasuj obraz do kontenera */
}

.slide-show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit; /* Użyj tła obrazu jako tła pseudoelementu */
    filter: blur(5px); /* Dodaj lekki blur do pseudoelementu */
    z-index: -1; /* Umieść pseudoelement za obrazem */
}

/* Dodaj regułę hover, jeśli chcesz, aby obraz stawał się wyraźniejszy po najechaniu myszką */
.slide-show:hover::before {
    filter: blur(0); /* Usuń blur po najechaniu myszką */
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5); /* Dodaj tło z lekkim przyciemnieniem */
    color: white; /* Kolor tekstu */
    text-align: center;
}

.text-center {
    text-align: left;
}

.text-overlay h2 {
    font-size: 90px;
    margin-bottom: 20px;
    font-family: Wonderworld PERSONAL USE;
    font-weight: normal;
}

.text-overlay p {
    font-size: 16px;
}

.line-background {
    background-color: rgba(0, 0, 0); /* Dodaj tło dla każdej linii */
    padding: 5px; /* Dodaj odstęp na górze i na dole każdej linii */
    color: white; /* Kolor tekstu */
    margin-bottom: 10px; /* Przykładowa wartość odstępu między linijkami */
}

.text-overlay h2 {
    font-size: 4vw; /* Rozmiar czcionki w jednostkach viewport width (%) */
    margin-bottom: 2vw; /* Marginesy w jednostkach viewport width (%) */
}

.line-background {
    padding: 1vw 0; /* Odstęp na górze i na dole w jednostkach viewport width (%) */
    margin-bottom: 0.5vw; /* Odstęp między linijkami w jednostkach viewport width (%) */
}

span {
    color: #eeeeee;
}


/*wylacz hovera na telefonie*/

/* Styl dla Slideshow na telefonach i mniejszych urządzeniach */
@media (max-width: 768px) {
    .slide-show {
        display: none; /* Ukryj Slideshow na małych ekranach */
    }
}

